<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogDeCafé</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header class="header">
        <div class="cotenedor">
            <div class="barra">
                <a class="logo" href="../index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">DeCafé</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="/views/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/views/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="/views/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
        <div class="header__texto">
            <h2 class="no-margin">Blog de café con consejos y cursos</h2>
            <p class="no-margin">Aprende de los expertos con las mejores recetas y consejos</p>
        </div>
    </header>

    <main class="contenedor">
        <h3 class="centrar-texto">Sobre Nosotros</h3>

        <div class="sobre-nosotros">
            <div class="sobre-nosotros__imagen">
                <img src="/assets/img/nosotros.jpg" alt="imagen nosotros" loading="lazy">
            </div>

            <div class="sobre-nosotros__texto">
                <p>Nullam quis porta nunc. Duis ut purus in leo interdum congue id vel turpis. Sed sollicitudin nibh lectus, vitae malesuada tortor vestibulum eu. Vivamus cursus a ante at viverra. Sed lacus purus, finibus id nisl non, varius dictum sem. </p>

                <p>Duis tincidunt pretium gravida. In venenatis mauris ut dolor facilisis, a lacinia leo fermentum. Donec eu aliquam purus. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                
                <p>Aliquam erat volutpat. Donec tincidunt, magna et imperdiet tempus, lorem lectus varius leo, eu volutpat est turpis in odio. Etiam aliquet eu lacus ut blandit.  Vestibulum pellentesque, ex vitae varius porta, felis tellus volutpat nulla, quis condimentum nibh risus ut felis.</p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin centrar-texto">Blog<span class="logo__bold">DeCafé</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="/views/nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="/views/cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="/views/contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>
    <script src="/js/modernizr.js"></script>
</body>

</html>